<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <!-- Add Bootstrap CSS and JavaScript files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
        async function submitForm(url) {
            const delete_form = document.getElementById("delete-form");
            const formData = new FormData(delete_form);

            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            return response.json();
        }

        async function confirmDeleteRegion() {
            const region_name = document.getElementById("region_name").value;

            if (region_name) {
                const message = `您确定要删除地区 ${region_name} 的所有在线用户吗？`;
                if (confirm(message)) {
                    const result = await submitForm("/api/delete_region_users");

                    alert(result.message);
                    document.getElementById("region_name").value = '';
                }
            } else {
                alert("请输入地区名");
            }
        }

        async function confirmDeleteUser() {
            const login_name = document.getElementById("login_name").value;

            if (login_name) {
                const message = `您确定要删除用户名为 ${login_name} 的在线用户吗？`;
                if (confirm(message)) {
                    const result = await submitForm("/api/delete_online_user");
                    alert(result.message);
                    document.getElementById("region_name").value = '';
                }
            } else {
                alert("请输入用户名");
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">radius在线表管理系统（内部）</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/user_search">User Search</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-4">Radius清用户管理</h1>
        <form id="delete-form" class="mb-4">
            <div class="form-group">
                    <label for="region_name">批量删除地区下的所有用户：</label>
                    <select id="region_name" name="region_name" class="form-control">
                <option value="">请选择区域</option>
                    {% for region_name, region_code in region_codes.items() %}
                    <option value="{{ region_name }}">{{ region_name }} ({{ region_code }})</option>
                    {% endfor %}
                    </select>
                </div>
<!--            <div class="form-group">-->
<!--                <label for="region_name">批量删除地区下的所有用户（填写Region Name可参考下表）：</label>-->
<!--                <input type="text" id="region_name" name="region_name" class="form-control" />-->
<!--            </div>-->
            <button type="button" class="btn btn-danger mb-2" onclick="confirmDeleteRegion()">删除</button>
            <div class="form-group">
                <label for="login_name">单个用户名：</label>
                <input type="text" id="login_name" name="login_name" class="form-control" placeholder="请输入查询的用户名">
            </div>

            <button type="button" class="btn btn-danger" onclick="confirmDeleteUser()">删除</button>
        </form>


    </div>
</body>
</html>
